In [224]:
import pandas as pd
from sqlite3 import connect

In [225]:
results = pd.read_csv("data/results.csv", dtype={'basho': 'string', 'day': 'string', 'rikishi1_id': 'int64', 'rikishi1_rank': 'string', 'rikishi1_shikona': 'string', 'rikishi1_result': 'string', 'rikishi1_win': 'int64', 'kimarite': 'string', 'rikishi2_id': 'int64', 'rikishi2_rank': 'string', 'rikishi2_shikona': 'string', 'rikishi2_result': 'string', 'rikishi2_win': 'string'})
results.head()

,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1

In [226]:
banzuke = pd.read_csv("data/banzuke.csv", dtype={'basho': 'string', 'id': 'int64', 'rank': 'string', 'rikishi': 'string', 'heya': 'string', 'susshin': 'string', 'birth_date': 'string', 'height': 'float64', 'weight': 'float64', 'birth_date': 'string', 'prev': 'string', 'prev_w': 'float64', 'prev_l': 'float64'})
banzuke = banzuke.drop (['basho', 'prev', 'prev_w', 'prev_l'], axis=1) # I don't need these columns for the final analysis.
banzuke = banzuke.drop (['rank', 'rikishi'], axis=1) # These are important columns, but they are shared with results.csv and are being cleaned up with that file. 
banzuke

           id        heya  shusshin  birth_date  height  weight
0        1354     Kokonoe  Hokkaido  1955-06-01   182.0   116.0
1        4080  Mihogaseki  Hokkaido  1953-05-16   179.0   165.0
2        4095  Futagoyama    Aomori  1953-04-03   186.0   133.0
3        4104  Futagoyama    Aomori  1952-09-29   181.0   144.0
4        4112  Sadogatake       Mie  1957-04-26   183.0   163.0
...       ...         ...       ...         ...     ...     ...
177873  12833        Onoe   Okinawa  2000-05-16   180.0   175.0
177874  12734   Shikihide   Ibaraki  2006-08-15   180.0   115.0
177875  12631   Sakaigawa     Chiba  2005-01-05   168.0   128.0
177876   2905        Kise  Kumamoto  1988-01-27   172.0   113.0
177877  12676   Isegahama    Aomori  2001-07-20   170.0    94.0

[177878 rows x 6 columns]

In [227]:
# I have already cleaned up the rank and rikishi/shikona (wrestler/ring name) information in the other CSV file, so I will now
# start cleaning up the shusshin (home country/prefecture) column. These steps are similar to the method wherein I tied ID numbers to shikona.

rikishi_shusshin_list = []

for i in banzuke["shusshin"].unique():
    rikishi_shusshin_list.append(i)

# Next to make a dictionary that holds each wrestler's unique ID number as a key, with values being each shusshin associated with that wrestler.
# The vast majority of ID numbers will only feature one shusshin, but this will make sure to include any additional shusshin entries as well.

rikishi_shusshin_dict = {}

# Initializes a key for every number results["id"] but still only adds one shusshin as a value per key, overwriting old shusshin.
# When I was trying to discover all the shikona (ring names) for each wrestler, it was important to preserve all the older names. That is different from what
# I want to accomplish with the shusshin entries. Most wrestler's don't change their shusshin, but a few of them do, ostensibly from moving from one prefecture in
# Japan to another. (Wrestlers from abroad still seem to keep their original countries as shusshin, even when becoming Japanese citizens.)
# Unlike with the shikona, I'm not going to completely fill out this dictionary will all shusshin; just a wrestler's current shusshin will suffice for analysis purposes.
for i in range(len(banzuke)):
    rikishi_shusshin_dict.update({banzuke["id"][i]: [banzuke["shusshin"][i]]})

# Now I turn this into a new dataframe.
shusshin_df = pd.DataFrame.from_dict(
    [([key] + value) for key, value in rikishi_shusshin_dict.items()]
)
shusshin_df.rename(columns={0: "id", 1: "shusshin"}, inplace=True)

# shusshin_df["shusshin"][0] = "wow"
shusshin_df.head()

     id  shusshin
0  1354  Hokkaido
1  4080  Hokkaido
2  4095    Aomori
3  4104    Aomori
4  4112       Mie

In [228]:
# I now do the same thing with heya (sumo stable) as I did with shusshin.

rikishi_heya_list = []

for i in banzuke["heya"].unique():
    rikishi_heya_list.append(i)

# Next to make a dictionary that holds each wrestler's unique ID number as a key, with values being each shusshin associated with that wrestler.
# The vast majority of ID numbers will only feature one shusshin, but this will make sure to include any additional shusshin entries as well.

rikishi_heya_dict = {}

for i in range(len(banzuke)):
    rikishi_heya_dict.update({banzuke["id"][i]: [banzuke["heya"][i]]})

# If I wanted to show all the different heya each wrestler had ever belonged to, I would add the following deactivated code.
# But, as with shusshin,this analysis is only concerned with the most recent heya to which each wrestler has belonged.

# for index, row in banzuke.iterrows():
#     if row["heya"] not in rikishi_heya_dict[row["id"]]:
#         rikishi_heya_dict[row["id"]].append(row["heya"])

heya_df = pd.DataFrame.from_dict(
    [([key] + value) for key, value in rikishi_heya_dict.items()]
)
heya_df.rename(columns={0: "id", 1: "heya"}, inplace=True)
heya_df

         id        heya
0      1354     Kokonoe
1      4080  Mihogaseki
2      4095  Futagoyama
3      4104  Futagoyama
4      4112  Sadogatake
...     ...         ...
5277  12833        Onoe
5278  12834     Ajigawa
5279  12838      Naruto
5280  12837  Sadogatake
5281  12835     Arashio

[5282 rows x 2 columns]

In [229]:
# I now do the same thing with height as I did with shusshin and heya. As with heya, I am only concerned with the most recent entry for height,
# which is why I am not populating the dictionary with all values associated with each wrestler's height.
# I imagine most wrestlers in the top division, having been wrestling for years, are adults with heights that do not fluctuate much.

rikishi_height_list = []

for i in banzuke["height"].unique():
    rikishi_height_list.append(i)

rikishi_height_dict = {}

for i in range(len(banzuke)):
    rikishi_height_dict.update({banzuke["id"][i]: [banzuke["height"][i]]})

height_df = pd.DataFrame.from_dict(
    [([key] + value) for key, value in rikishi_height_dict.items()]
)
height_df.rename(columns={0: "id", 1: "height"}, inplace=True)
height_df

         id  height
0      1354   183.0
1      4080   179.0
2      4095   186.0
3      4104   181.5
4      4112   183.5
...     ...     ...
5277  12833   180.0
5278  12834   175.0
5279  12838   183.0
5280  12837   178.0
5281  12835   177.0

[5282 rows x 2 columns]

In [230]:
# I now use the same approach to make a dataframe with each wrestler's weight. Unlike with some of the other columns,

rikishi_weight_list = []

for i in banzuke["weight"]: # because I want an average of all weights each wrester has been listed at during these tournaments, I do not want to use .unique() here.
    rikishi_weight_list.append(i)

rikishi_weight_dict = {}

for i in range(len(banzuke)):
    rikishi_weight_dict.update({banzuke["id"][i]: [banzuke["weight"][i]]})

for index, row in banzuke.iterrows():
    if row["weight"] not in rikishi_weight_dict[row["id"]]:
        rikishi_weight_dict[row["id"]].append(row["weight"])

# Now that I have a dictionary listing each wrestler's ID with the differing weights that wrestler had during tournaments, now I want to create a dictionary
# that features an average of all those weights.

def average_weight(weight_list):
    return round(sum(weight_list) / len(weight_list), 1)

average_weight_dict = {}

for key, value in rikishi_weight_dict.items():
    if average_weight(value) > 0: 
        value = [average_weight(value)]
    else:
        value = [0] # There are some wrestlers who don't have an average weight, because they have no entries in the "weight" column. I will mark null entries as "0".
    average_weight_dict[key] = value

average_weight_dict

{1354: [121.3],
 4080: [167.0],
 4095: [133.0],
 4104: [150.6],
 4112: [168.2],
 4127: [122.8],
 1363: [142.8],
 1379: [178.6],
 4116: [123.7],
 4134: [159.8],
 4078: [142.4],
 1374: [137.1],
 4099: [144.4],
 4126: [130.3],
 1369: [149.5],
 1356: [157.4],
 4107: [145.1],
 4102: [149.3],
 1353: [155.3],
 4094: [142.8],
 1375: [148.2],
 4077: [138.7],
 1338: [142.8],
 4133: [131.7],
 1378: [142.7],
 4117: [123.5],
 4050: [200.3],
 1352: [136.9],
 4132: [146.5],
 4100: [139.0],
 1345: [120.7],
 1334: [145.0],
 4118: [173.2],
 4124: [121.5],
 1348: [138.0],
 4131: [113.8],
 4122: [129.0],
 4103: [132.7],
 1342: [135.4],
 4091: [109.7],
 4087: [126.0],
 1350: [181.0],
 1359: [142.4],
 1380: [136.2],
 4128: [120.8],
 1332: [122.6],
 4322: [116.5],
 4311: [127.4],
 1347: [134.4],
 1385: [127.5],
 4125: [134.5],
 4316: [118.4],
 1361: [122.8],
 4318: [143.3],
 1302: [151.1],
 4130: [108.0],
 4111: [134.0],
 4109: [112.0],
 4129: [113.0],
 4319: [158.5],
 4097: [134.0],
 1337: [146.1],
 4323: [107.3],
 4140: [116.8],
 4306: [147.5],
 1381: [144.4],
 1364: [112.1],
 1317: [139.4],
 1417: [140.4],
 4119: [130.0],
 4303: [116.0],
 1339: [140.0],
 1451: [165.7],
 1376: [134.1],
 4310: [154.0],
 6773: [181.5],
 6778: [115.8],
 4324: [191.0],
 1377: [128.4],
 4328: [160.0],
 5070: [150.5],
 6777: [120.3],
 4315: [144.0],
 1301: [121.3],
 1333: [139.4],
 33: [108.8],
 6780: [105.0],
 5131: [153.0],
 4991: [113.4],
 4115: [128.0],
 4135: [152.0],
 1496: [180.2],
 4114: [127.0],
 4136: [138.0],
 4993: [116.0],
 6779: [147.7],
 1372: [132.2],
 5102: [141.0],
 4138: [169.2],
 28: [173.1],
 1423: [109.4],
 1311: [132.0],
 37: [129.4],
 4312: [125.0],
 5020: [121.3],
 1362: [136.4],
 4325: [126.8],
 5123: [150.8],
 6763: [126.0],
 1365: [102.8],
 4334: [136.3],
 5082: [126.0],
 1383: [108.2],
 6775: [151.7],
 4139: [102.0],
 4331: [132.0],
 5064: [107.5],
 4327: [112.7],
 1397: [83.2],
 4321: [154.5],
 4333: [117.6],
 4988: [123.0],
 4320: [134.5],
 1315: [127.0],
 4330: [112.2],
 5104: [118.3],
 1335: [132.5],
 5096: [117.7],
 1568: [168.2],
 1358: [129.4],
 6781: [146.0],
 4999: [128.5],
 1418: [117.8],
 7699: [105.0],
 5119: [97.0],
 4995: [79.8],
 7406: [121.5],
 7257: [118.5],
 7263: [132.0],
 4329: [122.7],
 1366: [97.0],
 1297: [138.5],
 1470: [140.5],
 5088: [142.0],
 1331: [109.3],
 7412: [115.5],
 1430: [105.5],
 6762: [142.0],
 1310: [156.7],
 7184: [128.3],
 1349: [112.6],
 5078: [129.5],
 7424: [111.5],
 5130: [118.0],
 5063: [126.3],
 4987: [119.7],
 5112: [123.0],
 5120: [107.0],
 49: [146.1],
 7436: [116.0],
 1442: [135.4],
 7579: [130.0],
 7432: [105.5],
 4336: [102.7],
 1438: [127.5],
 7564: [131.7],
 5039: [120.0],
 1360: [134.0],
 1489: [107.2],
 1292: [171.0],
 1510: [156.8],
 1371: [132.5],
 5069: [127.0],
 5052: [122.0],
 7439: [110.0],
 5094: [118.0],
 4317: [123.0],
 1432: [107.2],
 1433: [121.8],
 5068: [152.0],
 5036: [112.0],
 5117: [105.0],
 7396: [106.7],
 1460: [97.3],
 1476: [128.4],
 5316: [101.5],
 1509: [108.2],
 7708: [98.0],
 7185: [122.3],
 1303: [133.7],
 4332: [159.5],
 7248: [130.3],
 7251: [107.0],
 7415: [82.0],
 1390: [127.2],
 7430: [118.0],
 5041: [148.3],
 5060: [107.0],
 5106: [132.5],
 238: [161.0],
 5132: [135.3],
 1373: [99.1],
 4326: [110.3],
 1512: [126.6],
 1559: [117.1],
 5077: [90.0],
 7246: [124.0],
 1477: [111.7],
 7700: [130.0],
 7408: [125.5],
 7584: [114.5],
 1653: [125.4],
 1295: [95.9],
 7435: [106.0],
 5012: [149.5],
 30: [139.3],
 5631: [125.0],
 7183: [91.0],
 1420: [99.1],
 6691: [134.3],
 1474: [126.3],
 7409: [87.0],
 7427: [132.7],
 5196: [108.0],
 1355: [150.8],
 5053: [137.0],
 7414: [160.0],
 7249: [117.3],
 6761: [118.0],
 7411: [109.5],
 1367: [128.3],
 5751: [115.0],
 7437: [106.0],
 7310: [102.3],
 7186: [119.0],
 1639: [131.3],
 1549: [135.8],
 5034: [94.0],
 7410: [127.7],
 7258: [119.2],
 7434: [87.0],
 1321: [117.0],
 7418: [88.5],
 7250: [108.0],
 1436: [155.7],
 1678: [120.4],
 7413: [111.0],
 7419: [102.5],
 7446: [105.0],
 7441: [105.0],
 5002: [97.0],
 1547: [132.3],
 5124: [140.0],
 1619: [130.3],
 5655: [73.7],
 1491: [99.8],
 7291: [124.7],
 7428: [108.5],
 7481: [113.8],
 1466: [112.1],
 7433: [124.3],
 1394: [128.5],
 7429: [92.5],
 7706: [98.5],
 1465: [125.7],
 6733: [120.9],
 1441: [124.0],
 7440: [94.5],
 1473: [138.4],
 7422: [91.5],
 7471: [167.0],
 7487: [118.0],
 7442: [120.0],
 1497: [106.9],
 7449: [103.0],
 1452: [129.0],
 1471: [155.0],
 7187: [101.3],
 7423: [82.0],
 7483: [110.3],
 1459: [138.9],
 4337: [104.4],
 5023: [126.0],
 5072: [92.0],
 1287: [245.5],
 1488: [126.5],
 7426: [95.0],
 1514: [122.9],
 1469: [144.2],
 5049: [98.3],
 1479: [126.4],
 1299: [144.0],
 7491: [129.0],
 9: [139.9],
 7269: [112.8],
 1483: [139.9],
 7261: [111.7],
 1425: [91.5],
 7256: [116.3],
 1370: [133.0],
 7407: [110.0],
 372: [161.0],
 5040: [129.3],
 7421: [111.0],
 1454: [105.9],
 5474: [90.0],
 7489: [95.8],
 1440: [135.7],
 7285: [114.2],
 7506: [120.0],
 7203: [157.0],
 5092: [93.2],
 5054: [154.7],
 1608: [102.5],
 5048: [109.0],
 1530: [155.8],
 5035: [121.5],
 7443: [115.0],
 1534: [121.1],
 7445: [142.8],
 7353: [100.7],
 7290: [107.8],
 5129: [114.0],
 7447: [109.5],
 1484: [112.0],
 7580: [117.3],
 1628: [98.8],
 7193: [146.3],
 6681: [85.5],
 1498: [100.0],
 1326: [104.5],
 1597: [115.7],
 7438: [97.0],
 1610: [131.1],
 1285: [126.0],
 7462: [120.5],
 1478: [120.6],
 4982: [109.0],
 7467: [102.0],
 1520: [131.8],
 7620: [89.0],
 1481: [91.9],
 60: [192.7],
 1431: [109.3],
 7420: [128.0],
 5080: [119.0],
 7450: [112.5],
 1487: [116.6],
 1323: [108.8],
 6724: [112.6],
 7468: [105.5],
 7259: [92.3],
 7503: [118.2],
 7417: [104.0],
 1319: [135.2],
 7454: [105.0],
 7702: [96.0],
 1604: [135.9],
 7264: [100.0],
 1501: [167.5],
 7294: [120.7],
 7496: [106.0],
 7482: [111.8],
 7457: [107.0],
 5349: [110.0],
 7296: [85.7],
 174: [163.6],
 6659: [79.0],
 1824: [150.5],
 5031: [107.4],
 1564: [121.3],
 5046: [115.8],
 1389: [85.0],
 4997: [126.0],
 5061: [132.7],
 1296: [130.6],
 5445: [100.0],
 6764: [104.7],
 5058: [137.5],
 7431: [114.5],
 7492: [98.5],
 1445: [128.1],
 7252: [135.7],
 7262: [109.0],
 7621: [79.3],
 7456: [102.0],
 74: [114.8],
 1506: [99.7],
 5075: [103.0],
 7191: [95.0],
 1679: [87.1],
 5026: [104.5],
 7587: [101.0],
 5420: [121.0],
 7589: [106.2],
 7448: [118.3],
 1701: [109.8],
 7260: [117.3],
 5051: [110.1],
 1247: [82.0],
 51: [139.9],
 7444: [121.0],
 1357: [128.1],
 5097: [103.7],
 191: [127.6],
 7701: [110.0],
 7266: [108.8],
 1288: [155.3],
 5118: [112.5],
 7466: [92.5],
 82: [140.9],
 7189: [90.0],
 7720: [100.0],
 1424: [131.8],
 1472: [111.7],
 1393: [131.7],
 5065: [110.0],
 7507: [110.5],
 7544: [95.5],
 7461: [99.0],
 1685: [118.4],
 5087: [78.0],
 1739: [91.5],
 5050: [83.3],
 1516: [113.9],
 1475: [94.7],
 1455: [124.1],
 1593: [93.7],
 7486: [104.0],
 7402: [105.0],
 1583: [110.8],
 1524: [125.3],
 1607: [123.1],
 7712: [108.0],
 4335: [113.5],
 5047: [100.0],
 7458: [99.5],
 7711: [114.0],
 7253: [113.7],
 1341: [114.7],
 5004: [98.0],
 7704: [126.0],
 7455: [86.5],
 7255: [117.3],
 5028: [109.7],
 7452: [114.0],
 7465: [95.0],
 7453: [85.0],
 6662: [126.0],
 1599: [127.8],
 7474: [114.0],
 7511: [95.0],
 1601: [121.9],
 7460: [117.5],
 7512: [104.5],
 7463: [120.0],
 5128: [117.3],
 7464: [105.0],
 5598: [104.0],
 7502: [92.7],
 1517: [114.6],
 1290: [153.1],
 7488: [112.3],
 7304: [120.0],
 7509: [115.5],
 5093: [106.0],
 7293: [77.3],
 1569: [141.7],
 7254: [100.7],
 1449: [145.1],
 1540: [148.4],
 7596: [77.0],
 5038: [96.0],
 5122: [120.3],
 1464: [111.0],
 7504: [114.0],
 7276: [102.7],
 7497: [91.0],
 7202: [128.0],
 1553: [124.0],
 5091: [84.5],
 1734: [139.6],
 7196: [143.7],
 5103: [103.3],
 5110: [137.0],
 6711: [114.5],
 7714: [100.0],
 7508: [84.0],
 7480: [125.0],
 1536: [133.0],
 1351: [120.4],
 7724: [91.0],
 1579: [156.6],
 7247: [97.7],
 5066: [104.7],
 7515: [78.0],
 7588: [120.0],
 7737: [110.0],
 1537: [131.2],
 1492: [113.5],
 1790: [125.5],
 1525: [123.1],
 7451: [152.5],
 7472: [119.0],
 7719: [103.0],
 1538: [98.5],
 1873: [121.9],
 7484: [100.5],
 1309: [131.8],
 1461: [115.5],
 1314: [140.6],
 7479: [123.0],
 1388: [139.4],
 7267: [122.7],
 6660: [104.5],
 1502: [149.9],
 7598: [108.5],
 7498: [101.5],
 5059: [78.0],
 1490: [148.5],
 7204: [117.7],
 5114: [116.0],
 7577: [120.5],
 7485: [79.0],
 1630: [120.2],
 7535: [82.0],
 7194: [118.3],
 7282: [116.0],
 1468: [160.6],
 7493: [79.0],
 6727: [111.0],
 7494: [80.0],
 7516: [100.0],
 7470: [130.0],
 7543: [166.0],
 7703: [99.5],
 5067: [103.0],
 7540: [128.5],
 7575: [130.0],
 1677: [124.4],
 7313: [119.3],
 1622: [134.2],
 7295: [129.7],
 7370: [99.5],
 1783: [111.3],
 6658: [164.0],
 7735: [92.0],
 1429: [106.4],
 7738: [125.0],
 5111: [75.0],
 1562: [120.9],
 7459: [93.0],
 7300: [70.5],
 1548: [97.8],
 7476: [100.0],
 7478: [105.0],
 1443: [125.8],
 7280: [77.0],
 1676: [137.7],
 1589: [136.0],
 7198: [111.0],
 7743: [114.0],
 7586: [93.5],
 7501: [96.5],
 1387: [113.9],
 6710: [82.2],
 7519: [101.0],
 7521: [89.0],
 7550: [102.0],
 7539: [92.7],
 7609: [100.0],
 1485: [165.7],
 1644: [101.2],
 7538: [106.5],
 5045: [90.0],
 7731: [72.0],
 5032: [128.0],
 1717: [118.4],
 1554: [131.3],
 7744: [98.0],
 7548: [118.0],
 7490: [96.5],
 1567: [116.6],
 1686: [134.7],
 7591: [70.5],
 7594: [98.0],
 5076: [85.0],
 7551: [97.5],
 1683: [132.5],
 1755: [124.1],
 7477: [102.0],
 5081: [122.0],
 6732: [119.0],
 7216: [97.8],
 1450: [102.9],
 1578: [109.8],
 7734: [80.0],
 7505: [100.0],
 1463: [141.2],
 1624: [128.4],
 1391: [132.4],
 7513: [88.0],
 7542: [126.5],
 7727: [99.0],
 7568: [83.5],
 1422: [80.0],
 7469: [88.0],
 1504: [113.1],
 7288: [103.3],
 5042: [107.0],
 1580: [87.9],
 7593: [94.0],
 7197: [161.3],
 7367: [105.5],
 1650: [122.8],
 234: [117.2],
 7265: [93.7],
 7305: [104.3],
 1563: [106.7],
 7499: [124.0],
 7527: [94.0],
 7546: [102.0],
 7732: [95.0],
 7745: [75.0],
 7725: [85.0],
 7188: [80.3],
 7195: [102.7],
 7192: [102.0],
 7190: [104.0],
 7525: [83.0],
 5113: [117.7],
 7705: [103.0],
 1446: [98.9],
 7316: [100.3],
 7500: [96.0],
 7514: [107.0],
 7275: [89.0],
 6697: [117.4],
 7352: [105.7],
 1494: [117.8],
 1486: [95.6],
 7286: [86.7],
 1684: [84.6],
 7495: [84.0],
 1546: [135.7],
 7325: [112.3],
 140: [155.8],
 7610: [78.0],
 7729: [79.0],
 1480: [135.9],
 1698: [147.8],
 1638: [125.3],
 4989: [91.0],
 1892: [93.8],
 5029: [98.4],
 7603: [101.5],
 1572: [127.3],
 1544: [115.7],
 1515: [125.3],
 5003: [94.0],
 1576: [100.4],
 7518: [75.0],
 1447: [106.6],
 7475: [97.5],
 7517: [101.0],
 1756: [109.6],
 7283: [91.0],
 1392: [85.8],
 7324: [105.0],
 1791: [113.0],
 1757: [87.6],
 1722: [107.2],
 5083: [112.0],
 5073: [71.5],
 5005: [88.3],
 7730: [88.0],
 7362: [94.2],
 4990: [84.0],
 7559: [115.0],
 7558: [94.0],
 1521: [102.6],
 7741: [80.0],
 1543: [136.4],
 1595: [97.0],
 7722: [103.0],
 1750: [119.0],
 7312: [94.5],
 7740: [103.0],
 1395: [109.3],
 7746: [104.0],
 7534: [75.0],
 1811: [100.0],
 7561: [83.0],
 7742: [85.0],
 7726: [115.0],
 1803: [93.0],
 5357: [95.0],
 1663: [101.1],
 1532: [71.0],
 7585: [0],
 1592: [131.8],
 6692: [71.4],
 55: [0],
 1660: [0],
 4137: [140.7],
 7510: [157.0],
 7604: [137.0],
 7590: [115.0],
 1605: [109.7],
 5105: [138.0],
 7733: [109.0],
 7747: [85.0],
 1539: [152.8],
 1435: [154.9],
 5000: [101.0],
 1329: [139.0],
 1318: [114.0],
 1647: [122.6],
 7612: [128.0],
 7547: [112.0],
 7541: [108.0],
 7597: [175.0],
 1560: [123.0],
 1928: [97.7],
 7284: [81.0],
 1618: [144.5],
 7553: [90.0],
 1725: [125.8],
 1458: [133.4],
 5089: [83.5],
 7322: [108.0],
 5044: [117.2],
 1368: [140.7],
 6708: [115.0],
 1529: [82.9],
 1728: [121.2],
 7520: [103.0],
 1635: [108.9],
 6685: [92.0],
 7299: [77.0],
 720: [115.7],
 7545: [113.0],
 7556: [115.0],
 5019: [109.5],
 5027: [88.0],
 1738: [136.5],
 1457: [125.7],
 5008: [82.0],
 7569: [117.8],
 7270: [120.0],
 7532: [104.0],
 5125: [82.0],
 7208: [96.5],
 7272: [91.5],
 7709: [100.0],
 1716: [118.4],
 1519: [96.8],
 1531: [131.1],
 7595: [86.0],
 18: [137.5],
 1702: [108.0],
 7210: [74.5],
 5115: [117.3],
 7713: [126.0],
 5021: [148.7],
 7563: [102.0],
 1462: [89.4],
 7199: [86.0],
 1655: [90.6],
 7716: [88.0],
 7528: [131.0],
 1632: [114.2],
 7608: [87.0],
 7554: [110.0],
 1602: [113.5],
 1642: [98.6],
 7533: [98.0],
 7278: [77.0],
 7200: [96.5],
 7523: [110.0],
 1626: [99.8],
 1555: [116.1],
 7530: [90.0],
 1687: [103.8],
 7549: [103.0],
 7611: [94.0],
 7560: [83.0],
 7552: [93.0],
 7578: [78.0],
 7529: [90.0],
 1711: [132.1],
 1704: [141.0],
 7602: [104.0],
 7592: [75.0],
 7526: [80.5],
 7524: [93.0],
 7565: [82.0],
 1513: [115.4],
 1672: [97.0],
 1656: [89.8],
 7566: [108.0],
 1721: [103.3],
 1603: [176.0],
 7339: [103.5],
 7555: [82.0],
 7360: [89.0],
 7583: [76.0],
 1641: [0],
 1428: [0],
 5018: [0],
 1541: [0],
 7562: [0],
 7281: [0],
 7522: [0],
 7531: [0],
 7605: [0],
 7567: [0],
 1710: [0],
 7271: [0],
 7607: [0],
 7315: [0],
 7557: [0],
 7600: [0],
 1732: [0],
 1584: [0],
 6705: [0],
 1467: [0],
 1574: [0],
 7536: [0],
 48: [0],
 7570: [0],
 7311: [0],
 7537: [0],
 1556: [102.7],
 7576: [95.0],
 1640: [110.0],
 7573: [103.0],
 7571: [119.0],
 6712: [111.5],
 7572: [85.0],
 241: [143.1],
 1533: [108.3],
 7574: [91.0],
 532: [0],
 7624: [0],
 7622: [0],
 5108: [0],
 7647: [0],
 5107: [0],
 1313: [0],
 7665: [0],
 7321: [0],
 554: [0],
 7646: [0],
 6721: [0],
 1552: [0],
 7623: [0],
 7625: [80.0],
 12: [131.3],
 5095: [103.5],
 62: [147.5],
 4996: [163.0],
 6716: [114.8],
 1507: [127.2],
 1500: [111.2],
 1305: [153.1],
 1627: [123.6],
 7626: [90.0],
 373: [96.9],
 7627: [116.0],
 1340: [142.9],
 1577: [137.0],
 1612: [115.8],
 7298: [131.5],
 7648: [113.0],
 108: [126.4],
 7303: [84.0],
 7628: [130.0],
 1508: [123.7],
 1623: [106.1],
 1511: [108.4],
 1614: [107.0],
 1327: [118.5],
 7629: [82.0],
 7274: [118.5],
 1636: [95.2],
 4986: [110.0],
 1689: [133.2],
 7306: [120.5],
 7630: [100.0],
 1735: [101.6],
 7631: [100.0],
 133: [172.1],
 7632: [96.0],
 7649: [99.0],
 1690: [144.2],
 1344: [120.7],
 7633: [116.0],
 7473: [97.0],
 1523: [110.4],
 1495: [134.7],
 7365: [133.5],
 7650: [100.0],
 7634: [102.0],
 7651: [113.5],
 7635: [123.0],
 7652: [104.0],
 6735: [115.8],
 7653: [105.0],
 7318: [117.0],
 7654: [116.0],
 7357: [135.0],
 7655: [95.0],
 7636: [103.0],
 1527: [145.7],
 16: [154.3],
 7656: [114.0],
 7268: [99.5],
 7657: [121.0],
 7637: [85.0],
 7297: [97.0],
 1346: [156.6],
 7658: [105.0],
 7309: [109.0],
 1720: [103.4],
 7638: [103.0],
 6667: [147.5],
 1621: [118.0],
 6725: [75.8],
 1758: [89.2],
 5006: [80.0],
 7639: [118.0],
 7659: [94.0],
 1606: [88.0],
 297: [122.5],
 7640: [110.0],
 7660: [81.0],
 7641: [104.0],
 7359: [93.5],
 1633: [92.0],
 153: [149.7],
 7642: [103.0],
 6673: [122.0],
 7643: [75.0],
 7661: [98.0],
 7644: [92.0],
 7662: [80.0],
 1571: [124.5],
 7663: [78.0],
 7645: [80.5],
 7669: [85.0],
 274: [159.5],
 7664: [108.0],
 5030: [0],
 1731: [0],
 14: [0],
 196: [0],
 7616: [0],
 7613: [0],
 7273: [0],
 1294: [0],
 7302: [0],
 7614: [0],
 7323: [0],
 7332: [0],
 6745: [0],
 7670: [0],
 272: [0],
 1596: [0],
 7618: [0],
 7619: [0],
 1665: [0],
 1535: [0],
 7615: [0],
 7798: [0],
 6688: [0],
 6680: [0],
 7797: [0],
 7799: [0],
 7802: [0],
 1658: [0],
 7289: [0],
 4141: [0],
 7803: [0],
 7801: [0],
 1659: [0],
 7800: [0],
 1570: [0],
 1654: [0],
 7675: [0],
 7201: [0],
 1594: [0],
 1819: [0],
 7804: [0],
 32: [0],
 7805: [0],
 1286: [0],
 1813: [0],
 7214: [0],
 7806: [0],
 ...}

In [231]:
# Now I turn this avergae weight into a new dataframe.
weight_df = pd.DataFrame.from_dict([([key] + value) for key, value in average_weight_dict.items()])
weight_df.rename(columns={0: "id", 1: "avg_weight"}, inplace=True)
weight_df.head()

     id  avg_weight
0  1354       121.3
1  4080       167.0
2  4095       133.0
3  4104       150.6
4  4112       168.2

In [232]:
# For the sake of completeness, I am going to clean up the birth_date column. I assume each wrestler has only a single entry for birth_date,
# but theoretically I can see a situation in which a wrestler is listed with an incorrect birth_date that was later revised.
# So to prevent any possible errors, I am going to clean up this column.

rikishi_birth_date_list = []

for i in banzuke["birth_date"].unique():
    rikishi_birth_date_list.append(i)

rikishi_birth_date_dict = {}

for i in range(len(banzuke)):
    rikishi_birth_date_dict.update({banzuke["id"][i]: [banzuke["birth_date"][i]]})
rikishi_birth_date_dict
birth_date_df = pd.DataFrame.from_dict([([key] + value) for key, value in rikishi_birth_date_dict.items()])
birth_date_df.rename(columns={0: "id", 1: "birth_date"}, inplace=True)
# ID 7806 has no listed birth_date birth_date_df.loc[birth_date_df['id']==7806]

birth_date_df

         id  birth_date
0      1354  1955-06-01
1      4080  1953-05-16
2      4095  1953-04-03
3      4104  1952-09-29
4      4112  1957-04-26
...     ...         ...
5277  12833  2000-05-16
5278  12834  2005-03-02
5279  12838  2005-03-13
5280  12837  2008-02-04
5281  12835  2001-02-10

[5282 rows x 2 columns]

In [233]:
# Now that I have a dataframes for shusshin, heya, height, weight, and birth-date I can drop them from the dataframe made from the original banzuke CSV file.
# With this new "banzuke_cleaned" dataframe, I can then merge each of the new dataframes – for shusshin, heya, height, and weight – together.
# The number of rows in banzuke_cleaned matches the number of rows in the original banzuke CSV file, which means that no rows have been accidentally
# left off during the cleanup process. 
banzuke_cleaned = banzuke.drop(["shusshin", "heya", "height", "weight", "birth_date"], axis=1)
banzuke_cleaned = pd.merge(banzuke_cleaned, shusshin_df)
banzuke_cleaned = pd.merge(banzuke_cleaned, heya_df)
banzuke_cleaned = pd.merge(banzuke_cleaned, height_df)
banzuke_cleaned = pd.merge(banzuke_cleaned, weight_df)
banzuke_cleaned = pd.merge(banzuke_cleaned, birth_date_df)
banzuke_cleaned

           id  shusshin        heya  height  avg_weight  birth_date
0        1354  Hokkaido     Kokonoe   183.0       121.3  1955-06-01
1        1354  Hokkaido     Kokonoe   183.0       121.3  1955-06-01
2        1354  Hokkaido     Kokonoe   183.0       121.3  1955-06-01
3        1354  Hokkaido     Kokonoe   183.0       121.3  1955-06-01
4        1354  Hokkaido     Kokonoe   183.0       121.3  1955-06-01
...       ...       ...         ...     ...         ...         ...
177873  12838   Niigata      Naruto   183.0       125.0  2005-03-13
177874  12837     Tokyo  Sadogatake   178.0       126.0  2008-02-04
177875  12837     Tokyo  Sadogatake   178.0       126.0  2008-02-04
177876  12835     Tokyo     Arashio   177.0       114.0  2001-02-10
177877  12835     Tokyo     Arashio   177.0       114.0  2001-02-10

[177878 rows x 6 columns]

In [234]:
# Calculate BMI
bmi_list = []

for i in range(len(banzuke_cleaned)):
    bmi = round(banzuke_cleaned.loc[i, "weight"] / ((banzuke_cleaned.loc[i, "height"] / 100) ** 2), 1)
    bmi_list.append(bmi)
bmi_list

banzuke_cleaned["bmi"] = bmi_list
# Finished calculating BMI
banzuke_cleaned

KeyError: 'weight'

In [ ]:
connection = connect(":memory:")
results.to_sql("results", connection)
banzuke.to_sql("banzuke", connection)

def sql(a_string):
    return pd.read_sql(a_string, connection)

In [ ]:
combined_sql_query = pd.read_sql_query(
    """SELECT results.basho AS 'basho', results.rikishi1_id AS 'id', results.rikishi1_shikona, banzuke.rikishi as 'rikishi', 
    results.rikishi1_rank AS 'rank', banzuke.height AS 'height', banzuke.weight AS 'weight', banzuke.bmi AS 'bmi', banzuke.heya AS 'heya',
    banzuke.shusshin AS 'shusshin', results.rikishi1_win as 'outcome', results.kimarite AS 'kimarite', results.rikishi2_id AS 'opponent id',
    results.rikishi2_shikona AS 'opponent'
    FROM results 
    JOIN banzuke 
    ON results.rikishi1_id = banzuke.id
    AND results.basho = banzuke.basho""",
    connection,
)

combined_sql_query
combined_df = pd.DataFrame(combined_sql_query)
combined_df = combined_df.drop(["rikishi1_shikona"], axis=1)

combined_df["rank"] = combined_df["rank"].astype(str)

combined_df.to_csv("data/cleaned.csv", index=False)
combined_df.head()